@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
.navbar {
    text-align: center;
    background-color: #023047;
    padding-top: 2rem;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    border-radius: 15px;
    position: sticky;
    top: .5rem

}

.welcome-message {
    text-align: center;
    margin-bottom: 2rem;
}

.home-p {
    text-align: center;
}

a {
    /* margin-right: 20px;
    margin-left: 20px; */
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    color: #3244ac;
    font-size: 1.5rem;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5);
    box-shadow: 5px 5px 15px 5px #000000;
    border-radius: 7px;
    text-decoration: none;
    width: 100%;
    background-color: #c2d9e0;
    /* padding-left: 0.5rem;
    padding-right: 0.5rem; */
}


a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.container-allRoutines {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    
}
.container-allMyRoutines {
    text-align: center;
    align-items: center;
    
}

.no-routines-message {
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
}

body {
    background: #614EFF;
    text-align: center;
}

#register-heading {

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 3px solid #3244ac;
    background-color:#c2d9e0 ;
    margin-right: 20rem;
    margin-left: 20rem;
    margin-top: 5rem;


}

#login-heading {

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 3px solid #3244ac;
    background-color:#c2d9e0 ;
    margin-right: 20rem;
    margin-left: 20rem;
    margin-top: 5rem;

}

button:hover {

    background-color: #c2d9e0;

}

.home-p {

    font-weight: bold;
    font-size: large;
}

.create-activity {

    width: 20%;
    margin-top: 1rem;

}

input.checkbox {

    width: 20px;
    height: 20px;
}

.p-create {

    font-weight: bold;
    font-size: large;

}

.m-routine {

    font-weight: bold;
    font-size: large;
}
.container-allRoutineActivities {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.container-singleRoutine:nth-child(even)

{

    background-color: #B8C0ff;

}
.container-singleMyRoutine:nth-child(even)

{

    background-color: #B8C0ff;

}

.container-singleRoutine:nth-child(odd)

{

    background-color: #56cfe16e;

}
.container-singleMyRoutine:nth-child(odd)

{

    background-color: #56cfe16e;

}
.container-singleRoutine {

    height: 50rem;
    flex-basis: 200px;
    flex-grow: 1;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    margin: 5px 10px;
    padding: 10px;
    border-radius: 10px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 60rem;

}
.container-singleMyRoutine {

    flex-basis: 200px;
    flex-grow: 1;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    margin: 5px 10px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    max-height: 400px;
    overflow:auto;
    width:60rem;
}


.container-allActivities {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;



}

.container-singleActivity {

    flex-basis: 200px;
    flex-grow: 1;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    margin: 5px 10px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    


}

.container-singleActivity:nth-child(even) {

    background-color: #56cfe16e ;
}

.container-singleActivity:nth-child(odd) {

    background-color: #B8C0ff ;
}

.new-routine-container {

margin-top: 2rem;

}


.c-activity {

margin-top: 2rem;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
border: 3px solid #3244ac;
background-color:#c2d9e0 ;
margin-right: 20rem;
margin-left: 20rem;
margin-top: 5rem;

 }
 
 img.welcome-img {
    width: 3rem;
    height: 3rem;
 }



 a.navbar-links {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    color: #3244ac;
    font-size: 1.5rem;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5);
    box-shadow: 5px 5px 15px 5px #000000;
    border-radius: 7px;
    text-decoration: none;
    width: 100%;
    background-color: #c2d9e0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.container-allRoutineActivities{
   
    
    
    display: flex;
    
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    margin: 5px 10px;
    padding: 10px;
    border-radius: 10px;
    
   
   
    
}
.container-singleRoutineActivity{
    
    
    width: 25rem;
    flex-wrap: wrap;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    margin: 5px 10px;
    
    border-radius: 10px;
}
.container-singleRoutineActivity:nth-child(even){
    background-color: #56cee1 ;
}
.container-singleRoutineActivity:nth-child(odd){
    background-color: #bc9dd0 ;
}
.add-activity{
    background-color: #614EFF;
    border-radius: 10px;
    padding: 1rem;
    
}
.fieldset{
    border: none;
}
.select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
    
    
  }
  button{
      display: flex;
      padding: 1.2rem;
      border-radius: 10px;
      width: 9rem;
      height: 0.5rem;
      justify-content: center;
      margin: 0 auto;
      align-items: center;
      background-color: #522B47;
      font-size: 13px;
      font-family: "Carter One";
      border-style: none;
      color: white
      

  }
  .button-container{
      padding: 0.2rem;
      margin: 0.2rem;
      text-align: center;
  }
  h2{
      font-family: "Carter One";
      font-size: 2rem;
  }
